body {
    font-family: arial; 
    background: linear-gradient(37deg, rgba(10, 9, 240, 0.5), rgba(220, 12, 220, 0.3)), linear-gradient(127deg, cyan, rgba(2, 220, 2, 0.3));
    color: black;
    text-align: center;
}

input{
    height: 30px;
    border-radius: 10px;
}
#search{
    width: 400px;
}

table{
    margin-left: auto;
    margin-right: auto;
    background-color: blueviolet;
    
}
td{
    border-style: solid;
    border-width: 1px;
    border-color:rgba(10, 9, 240, 0.5);  
    padding: 30px;
}
#controls{
    display: flex;
    justify-content: center;
}
button{
    margin-left: 10px;
    margin-right: 10px;
}

.gambar{
    width: 200px;
    height: auto;
    display: block;
}

p{
    text-align: left;
    text-transform: capitalize;
}

h3{
    text-transform: capitalize;
}

a{
    color: black;
}