body {
    font-family: arial; 
    background: linear-gradient(37deg, rgba(10, 9, 240, 0.5), rgba(220, 12, 220, 0.3)), linear-gradient(127deg, cyan, rgba(2, 220, 2, 0.3));
    color: rgba(245, 245, 245, 1);
    text-align: center;
    padding: 20px; 
   }
   
   header {
     line-height: 5px;
     margin: 40px;
   }
   
   #description {
     font-style: italic;
   }
   
   .add-form {
     display: box;
     background: blue;
     margin: 40px 20%;
     padding: 20px 5%; 
     text-align: left;
     border-radius: 0.5rem;
     font-size: 18px;
     border-style: solid;
   }
   
   label {
     align-items: left;
   }
   
   .add-input{
     margin: 12px 0;
     padding: 12px 12px;
     border-radius: 0.5rem;  
     font-size: inherit;
     font-family: inherit;
   }
   
   .text-input {
     width: 100%;
   }
      
   #tambah-varian {
     padding: 5px;
     border-radius: 0.5rem;
     border-style: solid;
     background: #90FF90;
     color: #6F006F;
     font-size: inherit;
     font-family: inherit;
     width: 104.5%;
     height: 50px;
     transition-duration: 0.2s;
   }

   textarea {
    resize: vertical;
    width: 102%;
    min-height: 200px;
    margin-top: 10px;
    border-radius: 0.5rem;
    border-style: double;
    border-color: black;
    border-width: 5px;
    font-family: inherit;
    font-size: inherit;
  }

   #tambah-varian:hover {
     background: #00FF00;
   }

   .brand {
    color : #000;
	font-weight: bolder;
	font-size: 1.3em;
}

.navbar{
    position: relative;
    background-color: #FFF;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.navbar div{
    display:flex
}

.user-type div{
    margin-left: 10px;
}

img{
    width: 200px;
    height: auto;
}

.content{
    margin: 50px;
}
.row {
    display:flex;
    justify-content: space-around;
}
p{
    text-align: center;
}

.search-bar .navbar-input{
    margin-right: 10px;
    height: 30px;
    border-radius: 10px;
}
.kotak-pencarian{
    width:400px;
}

a{
    text-transform: capitalize;
    color:black;
}